.App {
  .Logo {
    height: 120px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #ee171f;
    img {
      height: 100%;
    }
  }

  .loader {
    margin: 50px auto;
    width: 300px;

    img {
      width: 100%;
    }
  }
}
